body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.logo-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
}

.logo-header .logo-studio{
    color: #2e2f42;
}

.logo-footer .logo-studio {
    color:#f4f4fd;
}

.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
}

.contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}

.section-title{
background-color: #2e2f42;
}

.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
}

.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
}

.button:hover,
.button:focus {
background-color: #404bbf;
}

.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    
}

 subtitle-img{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
 }

.text-main-page{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
 }

 .page-footer{
    background: #2e2f42;
 }

 .text-fotter-page{
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    
 }

 .img{
    background-color: url("path_to_image");
 }